.container {
  margin: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
}

ion-input,
ion-datetime,
ion-textarea {
  border-radius: 10px;
  // background-color: rgba(215, 215, 215, 0.112);
  border: 1px solid rgb(189, 187, 187);
  padding-left: 10px !important;
  margin-top: 10px;
  width: auto;
}

.day {
  display: flex;
  .time {
    width: 45%;
  }
}

.n2 {
  display: flex;
  width: 100% !important;

  ion-item {
    width: 100% !important;
  }

  ion-datetime {
    width: 45% !important;
    margin-right: 5px;
  }
}

.line {
  display: flex;
  flex-direction: row;

  color: red;
  align-items: center;
  justify-content: center;
}
