<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title>Allgemein</ion-title>
    <ion-buttons slot="end">
      <ion-text (click)="saveGeneral()" style="margin-right: 5px;font-size: 20px;color: #050505;">Speichern</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  
  <ion-item>
    <ion-label >Währung</ion-label>
    <ion-select [(ngModel)]="data.detail.currency" placeholder="wählen">
      <div *ngFor="let currency of currencies">
        <ion-select-option [value]="currency.value">{{currency.text}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Währung von $ zu €:</ion-label>
    <ion-input [(ngModel)]="data.detail.currency_rate"></ion-input>
  </ion-item>
 
  <ion-radio-group [(ngModel)]="data.detail.show_second_number" allow-empty-selection="false" name="radio-group">
    <ion-list-header>
      <ion-label position="stacked">Zweite Bestellungsnummer</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label >Aus</ion-label>
      <ion-radio slot="start" name="style" value="0"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>An</ion-label>
      <ion-radio slot="start" name="style" value="1"></ion-radio>
    </ion-item>
  </ion-radio-group>
 
  <ion-item>
    <ion-label position="stacked">Google map API-Key:</ion-label>
    <ion-input [(ngModel)]="data.detail.google_key"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Entfernung vom Shop zum Kunden Anzeigen?</ion-label>
    <ion-checkbox [(ngModel)]="get_distance" color="primary" slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Sortierung</ion-label>
    <ion-select [(ngModel)]="data.detail.orderby" placeholder="wählen">
      <div *ngFor="let order of orderby">
        <ion-select-option [value]="order">{{order}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Sortierart</ion-label>
    <ion-select [(ngModel)]="data.detail.order" placeholder="wählen">
      <div *ngFor="let sort of sortart">
        <ion-select-option [value]="sort.value">{{sort.text}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Einstellung für Alert in "milisekunden":</ion-label>
    <ion-input [(ngModel)]="data.detail.time_to_show_alert"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Weiter Einkaufen button link:</ion-label>
    <ion-input [(ngModel)]="data.detail.back_link_in_cart"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Shop redirect link:</ion-label>
    <ion-input [(ngModel)]="data.detail.redirect_link_shop"></ion-input>
  </ion-item>
  
</ion-content>
