<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title>Allgemein</ion-title>
    <ion-buttons slot="end">
      <ion-text (click)="saveGeneral()" style="margin-right: 5px;font-size: 20px;color: #050505;">Speichern</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  
  <ion-item>
    <ion-label>Shop Name:</ion-label>
    <ion-input [(ngModel)]="data.detail.shop_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Adress:</ion-label>
    <ion-input [(ngModel)]="data.detail.shop_address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input [(ngModel)]="data.detail.shop_email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefon:</ion-label>
    <ion-input [(ngModel)]="data.detail.shop_phone"></ion-input>
  </ion-item>
  <ion-item>
    <p class="for">Shop Farbe:</p>
    <div class="colors" >
      <div *ngFor="let color of colors">
        <div *ngIf="data.detail.shop_color == color" (click)="chooseColor(color)" class="color active" [ngStyle]="{'background-color': color}"></div>
      <div *ngIf="data.detail.shop_color != color" (click)="chooseColor(color)" class="color" [ngStyle]="{'background-color': color}"></div>
      </div>
    </div>
  </ion-item>
<div class="xxx">
  <ion-item>
    <h1>Andere</h1>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Benachrichtigung:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.shop_noti"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">AGB Webseite Text:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.shop_agb"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Betreff Email:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.shop_title_email"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Zusatzinformation:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.shop_extra_email"></ion-textarea>
  </ion-item>

 
</div>
  

</ion-content>
