.day{
    display: flex;
    margin-left: 10px;
    .time{
        width: 45%;
    }

}

.close_2{
    width: 100% !important;
}
.new{
    display: flex;
    margin-left: 5px;
    width: 100% !important;

    ion-item{
        width: 100% !important;
    }

    ion-datetime{
        width: 30% !important;
    }
}

.n2{
    display: flex;
    margin-left: 5px;
    width: 100% !important;

    ion-item{
        width: 100% !important;
    }

    ion-datetime{
        width: 45% !important;
    }
}

h3{
    margin-left: 10px;
}

h1{
    margin-left: 10px;
}