<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title>Lieferung & Abholung</ion-title>
    <ion-buttons slot="end">
      <ion-text (click)="saveGeneral()" style="margin-right: 5px;font-size: 20px;color: #050505;">Speichern</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <ion-item>
    <ion-label>Lieferung & Abholung Einstellungen</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Lieferung</ion-label>
    <ion-checkbox [(ngModel)]="dsmart_method_ship" color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>im Laden abholen</ion-label>
    <ion-checkbox [(ngModel)]="dsmart_method_direct" color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Online shop JETZT SCHLIESSEN</ion-label>
    <ion-checkbox [(ngModel)]="close_shop" color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <p style="margin: 10px;">"Online Shop wird sofort geschlossen, so dass keine Bestellung mehr möglich ist.
    Vergiss nicht den Online Shop wieder einzuschalten "Haken rausnehmen"!!!"</p>
  
  <ion-item>
    <ion-label position="stacked">Bearbeitungszeit für Lieferung
      :</ion-label>
    <ion-input [(ngModel)]="data.detail.delay_time"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Bearbeitungszeit für Abholung
      :</ion-label>
    <ion-input [(ngModel)]="data.detail.delay_delivery"></ion-input>
  </ion-item>
  
  <h1>Öffnungszeiten Lieferung</h1>
  <div *ngFor="let day of open_1" class="open_1">
    <h3 class="day_text">{{day.text}}</h3>
    <div class="day">
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="day.open" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="day.close" placeholder="wählen"></ion-datetime>
      </ion-item>
    </div>
  </div>

  <h1>Öffnungszeiten Abholung</h1>
  <div *ngFor="let day of open_2" class="open_1">
    <h3 class="day_text">{{day.text}}</h3>
    <div class="day">
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="day.open" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="day.close" placeholder="wählen"></ion-datetime>
      </ion-item>
    </div>
  </div>
  
  <h1>Schliesszeit Abholung</h1>
  <div class="close_1" *ngFor="let item of data.detail.closed_time">
    <ion-item>
      <ion-select [(ngModel)]="item.date" placeholder="wählen">
        <div *ngFor="let day of day_of_week">
          <ion-select-option [value]="day.value">{{day.text}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div class="day">
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.from" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.to" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-icon (click)="deleteRow(item)" color="danger" name="close-circle-outline"></ion-icon>
    </div>
  </div>
  <ion-icon style="margin-left: 20px;margin-top:10px;font-size: 25px;" (click)="newRow(data.detail.closed_time)" class="new_period"  name="add-circle-outline"></ion-icon>

  <h1>Schliesszeit Lieferung</h1>
  <div class="close_1" *ngFor="let item of data.detail.closed_time_2">
    <ion-item>
      <ion-select [(ngModel)]="item.date" placeholder="wählen">
        <div *ngFor="let day of day_of_week">
          <ion-select-option [value]="day.value">{{day.text}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div class="day">
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.from" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.to" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-icon (click)="deleteMethod(item)" color="danger" name="close-circle-outline"></ion-icon>
    </div>
  </div>
  <ion-icon style="margin-left: 20px;margin-top:10px;font-size: 25px;" (click)="newRow(data.detail.closed_time_2)" class="new_period"  name="add-circle-outline"></ion-icon>
  <h1>Benutzerdefinierte Öffnungszeit</h1>
  <div class="close_2" *ngFor="let item of data.detail.dsmart_custom_date">
    <div class="day">
      <ion-item class="time">
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="item.date" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.open" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-item class="time">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.close" placeholder="wählen"></ion-datetime>
      </ion-item>
      <ion-icon (click)="deleteMethod(item)" color="danger" name="close-circle-outline"></ion-icon>
    </div>
  </div>
  <ion-icon style="margin-left: 20px;margin-top:10px;font-size: 25px;" (click)="newRow2(data.detail.dsmart_custom_date)" class="new_period"  name="add-circle-outline"></ion-icon>
  
  
  <h1>{{mess}}</h1>

</ion-content>
