<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title style="size: 20px">Lieferung & Abholung</ion-title>
    <ion-buttons slot="end">
      <ion-text (click)="save()" style="color: red; font-weight: bold"
        >Speichern</ion-text
      >
      <!-- <ion-button style="background-color: black; color: white !important"
        >Speichern</ion-button
      > -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <div class="block">
    <div class="container">
      <h4>Pool Druckverteilung</h4>
      <ion-item lines="none">
        <ion-label>Aktiv</ion-label>
        <ion-checkbox
          [(ngModel)]="enable_pool"
          color="primary"
          slot="start"
        ></ion-checkbox>
      </ion-item>
     
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Lieferung & Abholung</h4>
      <ion-item lines="none">
        <ion-label>Lieferung</ion-label>
        <ion-checkbox
          [(ngModel)]="dsmart_method_ship"
          color="primary"
          slot="start"
        ></ion-checkbox>
      </ion-item>
      <ion-item lines="none">
        <ion-label>im Laden abholen</ion-label>
        <ion-checkbox
          [(ngModel)]="dsmart_method_direct"
          color="primary"
          slot="start"
        ></ion-checkbox>
      </ion-item>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Online shop JETZT SCHLIESSEN</h4>
      <ion-item lines="none">
        <ion-label>schließen</ion-label>
        <ion-checkbox
          [(ngModel)]="close_shop"
          color="primary"
          slot="start"
        ></ion-checkbox>
      </ion-item>
      <p style="margin-left: 10px; color: red !important">
        "Online Shop wird sofort geschlossen, so dass keine Bestellung mehr
        möglich ist. Vergiss nicht den Online Shop wieder einzuschalten "Haken
        rausnehmen"!!!"
      </p>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Bearbeitungszeit</h4>
      <ion-item lines="none">
        <ion-label position="stacked"
          >Bearbeitungszeit für Lieferung:</ion-label
        >
        <ion-input [(ngModel)]="data.detail.delay_time"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"
          >Bearbeitungszeit für Abholung :</ion-label
        >
        <ion-input [(ngModel)]="data.detail.delay_delivery"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Öffnungszeiten Lieferung</h4>
      <!-- {{mess}} -->
      <div *ngFor="let day of open_1" class="open_1">
        <p style="margin-left: 15px" class="day_text">{{day.text}}</p>
        <div class="day">
          <ion-item lines="none" class="time">
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="day.open"
              placeholder="von"
            ></ion-datetime>
          </ion-item>
          <ion-item lines="none" class="time">
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="day.close"
              placeholder="bis"
            ></ion-datetime>
          </ion-item>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Öffnungszeiten Abholung</h4>
      <div *ngFor="let day of open_2" class="open_1">
        <p style="margin-left: 15px" class="day_text">{{day.text}}</p>
        <div class="day">
          <ion-item lines="none" class="time">
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="day.open"
              placeholder="von"
            ></ion-datetime>
          </ion-item>
          <ion-item lines="none" class="time">
            <ion-datetime
              displayFormat="HH:mm"
              [(ngModel)]="day.close"
              placeholder="bis"
            ></ion-datetime>
          </ion-item>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Schliesszeit Abholung</h4>
      <div
        class="close_1"
        *ngFor="let item of data.detail.closed_time; let i = index"
      >
        <ion-item lines="none">
          <ion-select [(ngModel)]="item.date" placeholder="wählen">
            <div *ngFor="let day of day_of_week">
              <ion-select-option [value]="day.value"
                >{{day.text}}</ion-select-option
              >
            </div>
          </ion-select>
        </ion-item>
        <div class="n2">
          <ion-item lines="none">
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="item.from"
              placeholder="von"
            ></ion-datetime>
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="item.to"
              placeholder="bis"
            ></ion-datetime>
            <ion-icon
              (click)="deleteRow(data.detail.closed_time,i)"
              color="danger"
              name="close-circle-outline"
            ></ion-icon>
          </ion-item>
        </div>
      </div>
      <ion-icon
        style="margin-left: 20px; margin-top: 10px; font-size: 25px"
        (click)="newRow(data.detail.closed_time)"
        class="new_period"
        name="add-circle-outline"
      ></ion-icon>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Schliesszeit Lieferung</h4>
      <div
        class="close_1"
        *ngFor="let item of data.detail.closed_time_2; let i = index"
      >
        <ion-item lines="none">
          <ion-select [(ngModel)]="item.date" placeholder="wählen">
            <div *ngFor="let day of day_of_week">
              <ion-select-option [value]="day.value"
                >{{day.text}}</ion-select-option
              >
            </div>
          </ion-select>
        </ion-item>
        <div class="n2">
          <ion-item lines="none">
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="item.from"
              placeholder="von"
            ></ion-datetime>

            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="item.to"
              placeholder="bis"
            ></ion-datetime>

            <ion-icon
              (click)="deleteRow(data.detail.closed_time_2, i)"
              color="danger"
              name="close-circle-outline"
            >
            </ion-icon>
          </ion-item>
        </div>
      </div>
      <ion-icon
        style="margin-left: 20px; margin-top: 10px; font-size: 25px"
        (click)="newRow(data.detail.closed_time_2)"
        class="new_period"
        name="add-circle-outline"
      ></ion-icon>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Benutzerdefinierte Öffnungszeit</h4>
      <div
        class="close_2"
        *ngFor="let item of data.detail.dsmart_custom_date; let i = index"
      >
        <ion-datetime 
          class="custom"
          displayFormat="DD-MM-YYYY"
          [(ngModel)]="item.date"
          placeholder="Tag"
        ></ion-datetime>
        <div class="new">
          <ion-item lines="none">
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="item.open"
              placeholder="von"
            ></ion-datetime>
            <ion-datetime 
              displayFormat="HH:mm"
              [(ngModel)]="item.close"
              placeholder="bis"
            ></ion-datetime>

            <ion-icon
              (click)="deleteRow(data.detail.dsmart_custom_date, i)"
              color="danger"
              name="close-circle-outline"
            >
            </ion-icon>
          </ion-item>
        </div>
      </div>
      <ion-icon
        style="margin-left: 20px; margin-top: 20px; font-size: 25px"
        (click)="newRow2(data.detail.dsmart_custom_date)"
        class="new_period"
        name="add-circle-outline"
      ></ion-icon>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Lieferung Einstellung</h4>
      <p>Maximum Auto-Route in KM:</p>
      <ion-item lines="none">
        <ion-input [(ngModel)]="data.detail.dsmart_distance"></ion-input>
      </ion-item>

      <p>Minimum Bestellung für Lieferung:</p>
      <ion-item lines="none">
        <ion-input [(ngModel)]="data.detail.dsmart_min_order"></ion-input>
      </ion-item>

      <p>Minimum Bestellung für Kostenlos Lieferung:</p>
      <ion-item lines="none">
        <ion-input [(ngModel)]="data.detail.dsmart_min_order_free"></ion-input>
      </ion-item>

      <p>Standardwert für Lieferkosten:</p>
      <ion-item lines="none">
        <ion-input [(ngModel)]="data.detail.dsmart_shipping_fee"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <h4>Benutzerdefinierte Lieferkosten</h4>
      <div class="container" *ngFor="let item of shipping; let i = index">
        <div class="day2">
          <div class="col">Von</div>
          <div class="col">Bis</div>
        </div>
        <div class="day2">
          <ion-item lines="none">
            <ion-input [(ngModel)]="item.from"></ion-input>

            <ion-input [(ngModel)]="item.to"></ion-input>

           

            <ion-icon
              (click)="deleteRow(shipping, i)"
              color="danger"
              name="close-circle-outline"
            ></ion-icon>
          </ion-item>
        </div>
        <div class="custom">
          <p>Lieferkosten</p>
          <ion-input [(ngModel)]="item.fee"></ion-input>
        </div>
        <div class="custom">
          <p> Mindestbestellwert</p>
          <ion-input [(ngModel)]="item.min"></ion-input>
        </div>
      </div>
      <ion-icon
        style="margin-left: 20px; margin-top: 10px; font-size: 25px"
        (click)="newRow3(shipping)"
        class="new_period"
        name="add-circle-outline"
      ></ion-icon>
    </div>
  </div>
</ion-content>
