<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Einstellungen </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="margin-top: 10px">
    <ion-item [routerLink]="['delivery']">
      <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
      <ion-label>Lieferung & Abholung</ion-label>
    </ion-item>
    <ion-item [routerLink]="['info']">
      <ion-icon slot="start" name="information-outline"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-item>
    <ion-item [routerLink]="['email-setting']">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>Email</ion-label>
    </ion-item>
    <ion-item [routerLink]="['discount']">
      <ion-icon slot="start" name="trending-down-outline"></ion-icon>
      <ion-label>Rabatt</ion-label>
    </ion-item>
    <ion-item [routerLink]="['zipcode']">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Zipcode Database</ion-label>
    </ion-item>
    <ion-item [routerLink]="['product-category']">
      <ion-icon slot="start" name="pricetags"></ion-icon>
      <ion-label>Produkte Kategorien</ion-label>
    </ion-item>
  </ion-list>

  <div class="information container">
    <h4>TCG - Web & Marketing</h4>
    <p>App version 2.1.7</p>
    <p (click)="openAppStore()" style="color: blue;">Check Update</p>
    <p>Hamburger Platz 6, 13086 Berlin</p>
    <p>Email: contact@tcg-marketing.de</p>
    <p>Tel.: 03026306913</p>
    <p>Öffungszeiten: Mo-Fr: 10 Uhr - 17 Uhr</p>
  </div>
</ion-content>
