<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> 
      Einstellungen
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header>Aktiver Shop</ion-list-header>
  <ion-chip class="ion-margin-start">
    <ion-avatar>
      <img src="{{logo}}">
    </ion-avatar>
    <ion-label>{{name}}</ion-label>
  </ion-chip>
  <ion-list>
    <ion-item [routerLink]="['general']">
      <ion-icon slot="start" name="aperture-outline"></ion-icon>
      <ion-label>
       Allgemein
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['time-shop']">
      <ion-icon  slot="start" name="alarm-outline"></ion-icon>
      <ion-label>Zeiten</ion-label>
    </ion-item>
    <ion-item [routerLink]="['payment']">
      <ion-icon  slot="start" name="card-outline"></ion-icon>
      <ion-label>Zahlungsmethod</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
