<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title>Email Einstellung</ion-title>
    <ion-buttons slot="end">
      <ion-text (click)="saveGeneral()" style="margin-right: 5px;font-size: 20px;color: #050505;">Speichern</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  
  <h1 style="margin-left: 10px;">Email Allgemeine Informationen</h1>
  <ion-item>
    <ion-label position="stacked">Angezeigte Name:</ion-label>
    <ion-input [(ngModel)]="data.detail.ds_mail_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Emailsender:</ion-label>
    <ion-input [(ngModel)]="data.detail.ds_sender_email"></ion-input>
  </ion-item>

  <h1 style="margin-left: 10px;">Email für SHOP</h1>
  <ion-item>
    <ion-label position="stacked">Email beim erhalt einer Bestellung:</ion-label>
    <ion-input [(ngModel)]="data.detail.dsmart_header_mail_order"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Text:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.dsmart_text_mail_order"></ion-textarea>
  </ion-item>

  <h1 style="margin-left: 10px;">Email für Kunden</h1>
  <ion-item>
    <ion-label position="stacked">Email an Kunden beim erfolgreichen Bestellung:</ion-label>
    <ion-input [(ngModel)]="data.detail.dsmart_header_mail_order_cs"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Text:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.dsmart_text_mail_order_cs"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email an Kunden, wenn Bestellung fertiggestellt ist:</ion-label>
    <ion-input [(ngModel)]="data.detail.dsmart_header_mail_success_cs"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Text:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.dsmart_text_mail_success_cs"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email an Kunden, wenn Bestellung stoniert wird:</ion-label>
    <ion-input [(ngModel)]="data.detail.dsmart_header_mail_cancel_cs"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Text:</ion-label>
    <ion-textarea rows="3" cols="20" [(ngModel)]="data.detail.dsmart_text_mail_cancel_cs"></ion-textarea>
  </ion-item>
  
</ion-content>
