<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> 
      Übersicht
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <div class="left">
        <div class="name">
          Verdienen
        </div>
        <div class="data">
          €546.00
        </div>
      </div>
      <div class="right">
        <div class="logo">
          <ion-icon size="large" name="cash-outline"></ion-icon>
        </div>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="left">
        <div class="name">
          Bestellung
        </div>
        <div class="data">
          4
        </div>
      </div>
      <div class="right">
        <div class="logo">
          <ion-icon size="large" name="newspaper-outline"></ion-icon>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="left">
        <div class="name">
          Erwarten
        </div>
        <div class="data">
          4
        </div>
      </div>
      <div class="right">
        <div class="logo">
          <ion-icon size="large" name="bookmarks-outline"></ion-icon>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="left">
        <div class="name">
          Fertig
        </div>
        <div class="data">
          0
        </div>
      </div>
      <div class="right">
        <div class="logo">
          <ion-icon size="large" name="bag-check-outline"></ion-icon>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="all">
        <div class="name">
          Spitzenverdienst
        </div>
        <div class="data">
         <ion-list>
          <ion-item-group>
            <ion-item>
              <div class="employee_name">
                Tu
              </div>
              <div class="money">
                500€
              </div>
            </ion-item>
            <ion-item>
              <div class="employee_name">
                Tuan
              </div>
              <div class="money">
                500€
              </div>
            </ion-item>
            <ion-item>
              <div class="employee_name">
                Tien
              </div>
              <div class="money">
                500€
              </div>
            </ion-item>
          </ion-item-group>
         </ion-list>
        </div>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
