<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> 
      Umsatz
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngIf="data">
    <div class="filter">
      <ion-item>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime (ionChange)="changeFilter()" [(ngModel)] = "von" displayFormat="MM DD YY" placeholder="Von"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime (ionChange)="changeFilter()" [(ngModel)] = "bis" displayFormat="MM DD YY" placeholder="Bis"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select (ionChange)="changeFilter()" [(ngModel)] = "status" placeholder="Alle">
          <ion-select-option value="all">Alle</ion-select-option>
          <ion-select-option value="erledigt">Erledig</ion-select-option>
          <ion-select-option value="warten">Warten</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    
    <ion-card>
      <ion-card-content>
        <div class="left">
          <div class="name">
            Verdienen
          </div>
          <div class="data">
            € {{data.summer}}
          </div>
        </div>
        <div class="right">
          <div class="logo">
            <ion-icon size="large" name="cash-outline"></ion-icon>
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <div class="left">
          <div class="name">
            Bestellung
          </div>
          <div class="data">
            {{data.count}}
          </div>
        </div>
        <div class="right">
          <div class="logo">
            <ion-icon size="large" name="newspaper-outline"></ion-icon>
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="left">
          <div class="name">
            Erwarten
          </div>
          <div class="data">
            {{data.wait}}
          </div>
        </div>
        <div class="right">
          <div class="logo">
            <ion-icon size="large" name="bookmarks-outline"></ion-icon>
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="left">
          <div class="name">
            Fertig
          </div>
          <div class="data">
            {{data.done}}
          </div>
        </div>
        <div class="right">
          <div class="logo">
            <ion-icon size="large" name="bag-check-outline"></ion-icon>
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="all">
          <div class="name">
            Spitzenverdienst
          </div>
          <div class="data">
           <ion-list>
            <ion-item-group>
              <ion-item *ngFor="let e of data.employee">
                <div class="employee_name">
                  {{e.name}}
                </div>
                <div class="money">
                  {{e.price}}€
                </div>
              </ion-item>
            </ion-item-group>
           </ion-list>
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
  </div>



  <!-- Skeleton screen -->
<div *ngIf="!data">
  <ion-card>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
