
.row{
    display: flex;
    width: 100%;
    .main{
        width: 40%;
    }
    .main2{
        margin-left: 10px;
        width: 40%;
    }
    .sub{
        width: 20%;
        ion-icon{
            color: red;
            cursor: pointer;
        }
    }
}
.title{
    margin-left: 15px;
}

.btt{
    --background: #050505;
}

.day{
    margin-left: 15px;
    .new_period{
        margin-left: 15px;
        margin-top: 10px;
        color: #050505;
        cursor: pointer;
        font-size: 30px;
    }
    ion-checkbox{
        margin-left: 15px;
    }
}