<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title>Zeit verwalten</ion-title>
    <ion-buttons slot="end">
      <ion-text (click)="saveTimes()" style="margin-right: 5px;font-size: 20px;color: #050505;">Speichern</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="data">
    <h1 class="title">{{data.employee.name}}</h1>
    <ion-button class="btt" (click)="blitz()">Von Shop kopieren</ion-button>
    <div class="day" *ngFor="let d of day">
      <h2>{{d.label}}</h2>
      <ion-item>
        <h5>Abwesend</h5>
        <div>
          <ion-checkbox [(ngModel)]="off[d.index]"  color="primary"></ion-checkbox>
        </div>
       
      </ion-item>
      <div class="row">
        <ion-label class="main2">Von</ion-label>
        <ion-label class="main2">Bis</ion-label>
      </div>
      <div *ngFor="let time of data.detail">
        
        <div *ngIf="time.day_of_week == d.index" class="row">
          <ion-item class="main">
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="time.start_time" placeholder="wählen"></ion-datetime>
          </ion-item>
          <ion-item class="main">
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="time.end_time" placeholder="wählen"></ion-datetime>
          </ion-item>
          <ion-item class="sub">
            <ion-icon (click)="deletePeriod(time.id)" name="close-circle-outline"></ion-icon>
          </ion-item>
        </div>
      </div>
    <ion-icon (click)="new_period(d.index)" class="new_period"  name="add-circle-outline"></ion-icon>
      
    </div>
    
  </div>

</ion-content>
