<!-- ionic cordova run ios -l --external --target=006E691D-FC7A-4C55-ABF8-9963D8FA37CB -->

<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu (ionWillOpen)="menuOpened()" (ionWillClose)="menuWillClose()" side="start" content-id="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="{{logo_active}}" alt="">
        <ion-label>
          <h1>{{shopname_active}}</h1>
          <p>{{domain_active}}</p>
          <p (click)="logout()" class="link">Logout</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button (click)="toAddShop()">
          <ion-icon slot="start" name="add"></ion-icon>Hinzufügen
        </ion-button>
      </div>

      <ion-list class="menu-items" lines=none>
        <div *ngFor="let s of shops">
          <ion-item *ngIf="s.domain == domain_active" class="active">
            <ion-icon name="link-outline"></ion-icon>{{s.domain}}
          </ion-item>
          <ion-item (click)="setActiveShop(s.domain)" *ngIf="s.domain != domain_active">
            <ion-icon name="link-outline"></ion-icon>{{s.domain}}
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
