<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu side="start" content-id="main">
    <ion-content>
      <ion-list>
        <div id="header">
          <img src="assets/login/logo.png" />
          <h3>{{shopname_active}}</h3>
          <h5>{{domain_active}}</h5>
        </div>
        <ion-text color="success">
          <h4>Shops:</h4>
        </ion-text>
        <ion-item *ngFor="let shop of shops">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>{{shop.domain}}</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
