<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Termin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data">
    <div class="live-event">
  
      <div class="info">
        <div class="content">
          <h6>{{data.detail.title}}</h6>
  
          <p class="stats">
            <span><ion-icon name="call-outline"></ion-icon>&nbsp;{{data.detail.phone}}</span>
          </p>
  
          <p class="location"><ion-icon name="bag-outline"></ion-icon>&nbsp;{{data.detail.service_name}}</p>
          <p class="location"><ion-icon name="bag-outline"></ion-icon>&nbsp;{{data.detail.category_name}}</p>
          <p class="location"><ion-icon name="bag-outline"></ion-icon>&nbsp;€ {{data.detail.price}}</p>
  
          <div class="additional-info">
            <div class="attendees">
              <p>Mitarbeiter: {{data.detail.employee_name}}</p>
            </div>
          </div>
        </div>
  
        <div class="indicator" *ngIf="data.detail.status == 'wait'">
          <div>{{data.detail.start}}</div>
        </div>
        <div class="indicator fertig" *ngIf="data.detail.status == 'erledigt'">
          <div>{{data.detail.start}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
