<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title>Zipcode</ion-title>
    <ion-buttons slot="end">
      <ion-text (click)="saveGeneral()" style="margin-right: 5px;font-size: 20px;color: #050505;">Speichern</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <h2>Rabatt Lieferung</h2>
  <ion-list>
    <ion-radio-group [(ngModel)]="data.detail.type_promotion" allow-empty-selection="false" name="radio-group">
      <ion-item>
        <ion-label>Prozente</ion-label>
        <ion-radio slot="start" name="lieferung" value="%"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Nummer</ion-label>
        <ion-radio slot="start" name="lieferung" value="number"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>  

  <ion-item>
    <ion-input [(ngModel)]="data.detail.promotion"></ion-input>
  </ion-item>

  <h2>Rabatt Abholung</h2>
  <ion-list>
    <ion-radio-group [(ngModel)]="data.detail.type_promotion_2" allow-empty-selection="false" name="radio-group">
      <ion-item>
        <ion-label>Prozente</ion-label>
        <ion-radio slot="start" name="lieferung" value="%"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Nummer</ion-label>
        <ion-radio slot="start" name="lieferung" value="number"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>  

  <ion-item>
    <ion-input [(ngModel)]="data.detail.promotion_2"></ion-input>
  </ion-item>

  <h2>Rabattzeit Lieferung</h2>
  <ion-item *ngFor="let item of lieferung">
    <ion-label position="stacked">{{item.text}}</ion-label>
    <ion-input [(ngModel)]="item.time"></ion-input>
  </ion-item>

  <h2>Rabattzeit Abholung</h2>
  <ion-item *ngFor="let item of abholung">
    <ion-label position="stacked">{{item.text}}</ion-label>
    <ion-input [(ngModel)]="item.time"></ion-input>
  </ion-item>


  <h2>Benutzerdefinierte Rabatt Zeit</h2>
  <div class="label flex">
    <ion-label position="stacked">Datum</ion-label>
    <ion-label position="stacked">Rabatt Zeit</ion-label>
  </div>
  <div class="hi" *ngFor="let item of data.detail.dsmart_custom_discount_date; let i = index">
    <div class="value flex">
      <ion-item>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="item.date" placeholder="wählen"></ion-datetime>

        <!-- <ion-input [(ngModel)]="item.date"></ion-input> -->

        <ion-input [(ngModel)]="item.time"></ion-input>

        <ion-icon (click)="deleteRow(data.detail.dsmart_custom_discount_date,i)" color="danger" name="close-circle-outline"></ion-icon>
        </ion-item>
    </div>
  </div>
  <ion-icon style="margin-left: 20px;margin-top:10px;font-size: 25px;" (click)="newRow(data.detail.dsmart_custom_discount_date)" class="new_period"  name="add-circle-outline"></ion-icon>

</ion-content>
