.link{
    margin-left: 15px;
    font-size: 16px;
    color: #050505;
    cursor: pointer;
    font-weight: bold;
}

.colors{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .color{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .active{
        border: solid 2px #050505;
    }
}

.for{
    margin-right: 10px;
}