

<ion-content>
  <div id="header">
    <img src="assets/login/tcg.png" />
  </div>

  <form id="form">

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" [(ngModel)]="input.domain" name="domain" placeholder="Webseite"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" [(ngModel)]="input.code" name="code" placeholder="TCG-code"></ion-input>
    </ion-item>

    <ion-button (click) ="addShop()" expand="block" shape="round">Weiter</ion-button>
    <div class="bot">
      <p (click)="backToDashboard()" class="back">Zurück</p>
    </div>

    <ion-text color="danger">
      <h4>{{message}}</h4>


    </ion-text>
  </form>
</ion-content>